{% extends 'base.html' %}
{% block content %}
    <h1>{{ titulo }}</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Buscar persona..." value="{{ query }}">
        <button type="submit">Buscar</button>
    </form>
    {% if personas %}
        <h1>Resultados</h1>
        <ul>
            {% for persona in personas %}
                <li>{{ persona }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Resultados:</p>
    {% endif %}
{% endblock content %}